
<h1><%= @dojo.city %> Dojo </h1>
<p> Address: <%= @dojo.street %></p>
<p> City: <%= @dojo.city %> </p>
<p> State: <%= @dojo.state %> </p>

<a href="/">Home</a>
<a href="/dojos/<%= @dojo.id %>/edit">Edit</a>